.clicked {
    stroke: black;
    stroke-width: 1px;
}

.bar{
   fill: #F8BBD0;
   cursor: pointer; 
}

.bar.selected{
    fill:#A7C7E7;
}

/* change: charts are now aligned in the middle */
#pieChart,
#myData {
    display: flex;
    justify-content: center;
    align-items: center;
}